Repository arclabs561/decksage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

Path conditions:
  check-hardcoded-paths: any of: \.py$, but not: (?x)^(
  src/ml/utils/paths\.py|
  scripts/data_processing/validate_lineage\.py|
  scripts/validation/check_hardcoded_paths\.py|
  \.venv/|
  venv/|
  __pycache__/|
  archive/|
  tests/
)

  check-todo: any of: \.py$
  check-python-permissions: any of: \.py$
  pytest-fast: any of: \.py$

cleanup: remove redundant cursorignore
  .cursorignore 3
Due: none

fix: point justfile test-architecture and docs at src/ml/tests
  justfile
  src/ml/knowledge/README.md
Due: none

chore: remove obsolete ??? dir and root tests/conftest (consolidated in src/ml/tests)
  tests/conftest.py
Due: check-todo, check-python-permissions, pytest-fast

docs: point READMEs at src/ml/tests instead of tests/
  src/ml/README.md
  src/ml/utils/README.md
Due: none

fix: use timezone-aware datetime (replace deprecated utcnow)
  src/ml/annotation/annotation_bootstrap_llm.py
  src/ml/model_registry.py
  src/ml/scripts/create_model_cards.py
  src/ml/scripts/organize_s3_assets.py
  src/ml/utils/evaluation_registry_improved.py
  src/ml/utils/structured_logging.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

chore: ignore experiments/evaluation_results/
  .gitignore
Due: none

fix: resolve syntax errors in 5 scripts, fix indentation, apply ruff format
  scripts/annotation/annotation_health_check.py
  scripts/data_processing/generate_pairs_for_games.py
  scripts/data_processing/unified_export_pipeline.py
  scripts/diagnostics/audit_all_embeddings.py
  scripts/evaluation/evaluate_visual_embeddings.py
  scripts/monitoring/monitor_quick.py
  scripts/testing/test_text_embeddings.py
  scripts/validation/validate_timestamps.py
  scripts/validation/validate_visual_embeddings.py
  src/ml/model_registry.py
  src/ml/utils/evaluation_registry_improved.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

chore: ruff fixes for 5 scripts, add scripts/** E402 per-file-ignore
  pyproject.toml
  scripts/annotation/annotation_health_check.py
  scripts/data_processing/generate_pairs_for_games.py
  scripts/data_processing/unified_export_pipeline.py
  scripts/monitoring/monitor_quick.py
  scripts/validation/validate_timestamps.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

chore(scripts): fix F841 unused variable warnings
  scripts/annotation/analyze_enrichment_quality.py
  scripts/annotation/expand_test_set_from_feedback.py
  scripts/annotation/monitor_and_improve.py
  scripts/annotation/profile_enrichment.py
  scripts/annotation/run_continuous_improvement.py
  scripts/annotation/submit_comparison_tasks.py
  scripts/annotation/test_annotation_services.py
  scripts/annotation/validate_topology.py
  scripts/comprehensive_knowledge_validation.py
  scripts/data_processing/regenerate_multi_game_pairs.py
  scripts/deep_analysis/analyze_code_quality.py
  scripts/deep_analysis/find_inconsistencies.py
  scripts/diagnostics/audit_all_embeddings.py
  scripts/e2e_testing/run_all_tests.py
  scripts/evaluation/evaluate_visual_embeddings.py
  scripts/testing/test_text_embeddings.py
  scripts/validation/validate_visual_embeddings.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

chore(scripts): C401/C416/RUF015/B004 ruff fixes
  scripts/annotation/analyze_all_enriched.py
  scripts/annotation/analyze_annotation_quality.py
  scripts/annotation/export_annotations.py
  scripts/annotation/fix_uniform_scores.py
  scripts/annotation/integrate_all_annotations.py
  scripts/annotation/meta_judge_annotations.py
  scripts/annotation/review_annotations.py
  scripts/deep_analysis/find_inconsistencies.py
  scripts/diagnostics/investigate_zero_performance.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

chore(scripts): RUF059/RUF005/RUF012/RUF034, F821, C401, F841
  scripts/annotation/conflict_resolution.py
  scripts/annotation/test_agentic_meta_judge.py
  scripts/annotation/test_all_tools.py
  scripts/e2e_testing/test_browser_comprehensive.py
  scripts/e2e_testing/test_visual_embeddings_e2e.py
  scripts/evaluation/archive_old_logs.py
  scripts/evaluation/compare_fusion_methods.py
  scripts/evaluation/consolidate_registries.py
  scripts/evaluation/evaluate_with_ndcg.py
  scripts/evaluation/verify_data_integrity.py
  scripts/monitoring/comprehensive.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

Add .github/settings.yml for declarative repo metadata
  .github/settings.yml
Due: none

fix: restore corrupted card_similarity_pecan.py, clean all scripts/ lint
  scripts/annotation/benchmark_annotation_speed.py
  scripts/annotation/expand_annotations_parallel.py
  scripts/annotation/generate_llm_annotations.py
  scripts/diagnostics/audit_all_embeddings.py
  scripts/docker/index_cards_on_startup.py
  scripts/e2e_testing/run_all_tests.py
  scripts/e2e_testing/test_accessibility_deep.py
  scripts/e2e_testing/test_browser_comprehensive.py
  scripts/e2e_testing/test_edge_cases.py
  scripts/e2e_testing/test_review_page.py
  scripts/e2e_testing/test_review_page_mcp.py
  scripts/e2e_testing/test_review_page_visual.py
  scripts/e2e_testing/test_type_ahead_comprehensive.py
  scripts/e2e_testing/test_utils.py
  scripts/e2e_testing/test_visual_ai.py
  scripts/evaluation/analyze_logging_systems.py
  scripts/evaluation/consolidate_registries.py
  scripts/evaluation/evaluate_with_coverage_check.py
  scripts/evaluation/evaluate_with_coverage_check_backup.py
  scripts/optimization/enhanced_learned_fusion.py
  scripts/optimization/implement_kan_fusion.py
  scripts/optimization/learned_fusion_weights.py
  scripts/quick_test_visual.py
  scripts/test_sets/expand_all_test_sets.py
  scripts/testing/test_visual_embeddings_usage.py
  scripts/training/integrate_feedback_into_training.py
  scripts/training/monitor_game_specific_training.py
  scripts/training/validate_training_data.py
  scripts/unification/consolidate_duplicate_code.py
  scripts/validation/validate_all.py
  scripts/validation/validate_embedding_quality.py
  scripts/validation/validate_visual_embeddings.py
  src/ml/similarity/card_similarity_pecan.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

fix(backend): add missing ExportCSV/ExportAttributesCSV to cardco, fix compile
  src/backend/cmd/dataset/cmd/transform.go
  src/backend/transform/cardco/transform.go
Due: none

feat: resolve YuGiOh Card_ID names via YGOPRODeck API
  data/yugioh_card_mapping.json
  scripts/data_processing/fix_yugioh_names_from_api.py
  scripts/data_processing/train_yugioh_named_embeddings.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

feat: pack databases, blended embeddings, mean-centering fix, annotation regen
  scripts/annotation/generate_game_specific_batches.py
  scripts/annotation/generate_stratified_pairs.py
  scripts/training/train_blended_embeddings.py
  scripts/training/train_separate_embeddings.py
  src/ml/scripts/scrape_packs_pokemon.py
  src/ml/scripts/scrape_packs_yugioh.py
  src/ml/similarity/card_similarity_pecan.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

feat: wire pack_embed into fusion, add per-game stratified pairs, add tests
  scripts/annotation/generate_game_stratified_pairs.py
  src/ml/similarity/fusion.py
  src/ml/tests/test_blended_edgelist.py
  src/ml/tests/test_mean_centering.py
  src/ml/tests/test_pack_database.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

chore: fix remaining lint errors in generated scripts
  scripts/annotation/generate_game_specific_batches.py
  scripts/data_processing/fix_yugioh_names_from_api.py
  scripts/data_processing/train_yugioh_named_embeddings.py
  scripts/training/train_blended_embeddings.py
  scripts/training/train_separate_embeddings.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

chore: remove derived card data from git, update gitignore
  .gitignore
  annotations/llm_judgments/judgment_20251001_105332.json
  annotations/magic_llm_annotations.jsonl.backup
  annotations/meta_judge/magic_latest.json
  annotations/metrics/quality_2025_10_01.json
  annotations/pokemon_llm_annotations.jsonl.backup
  annotations/yugioh_llm_annotations.jsonl.needs_regeneration
  data/annotations/ground_truth_v1.yaml
  data/metadata_cache.json
  data/processed/card_attributes_enriched_image_urls.json
  data/processed/test_set_unified_magic_image_urls.json
  data/processed/training_data_from_annotations.jsonl
  data/test_set_minimal.json
  data/yugioh_card_mapping.json
  scripts/data_processing/jsonl_to_collections_csv.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

chore: remove derived card data from git, update gitignore
  .gitignore
  annotations/llm_judgments/judgment_20251001_105332.json
  annotations/magic_llm_annotations.jsonl.backup
  annotations/meta_judge/magic_latest.json
  annotations/metrics/quality_2025_10_01.json
  annotations/pokemon_llm_annotations.jsonl.backup
  annotations/yugioh_llm_annotations.jsonl.needs_regeneration
  data/annotations/ground_truth_v1.yaml
  data/metadata_cache.json
  data/processed/card_attributes_enriched_image_urls.json
  data/processed/test_set_unified_magic_image_urls.json
  data/processed/training_data_from_annotations.jsonl
  data/test_set_minimal.json
  data/yugioh_card_mapping.json
  experiments/annotations/human_annotation_queue.jsonl
  experiments/downstream_test_data/magic_completion_test_decks.jsonl
  experiments/downstream_test_data/magic_contextual_test_queries.json
  experiments/downstream_test_data/magic_refinement_test_decks.jsonl
  experiments/downstream_test_data/magic_substitution_test_pairs.json
  scripts/data_processing/jsonl_to_collections_csv.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

feat: enhance annotation pipeline with latest models, game knowledge, and Lift metric
  scripts/annotation/run_multi_judge_batch.py
  scripts/experiments/compare_pecanpy_vs_gnn.py
  src/ml/annotation/llm_annotator.py
  src/ml/annotation/multi_annotator_iaa.py
  src/ml/data/incremental_graph.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast
