Repository arclabs561/decksage: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

Path conditions:
  check-hardcoded-paths: any of: \.py$, but not: (?x)^(
  src/ml/utils/paths\.py|
  scripts/data_processing/validate_lineage\.py|
  scripts/validation/check_hardcoded_paths\.py|
  \.venv/|
  venv/|
  __pycache__/|
  archive/|
  tests/
)

  check-todo: any of: \.py$
  check-python-permissions: any of: \.py$
  pytest-fast: any of: \.py$

feat: add agent deployment guide and automated deployment workflow
  .cursorignore
  .dockerignore 2
  .env 2.example
  .github/workflows/deploy.yml
  .golangci 2.yml
  .pre-commit-config.yaml
  Dockerfile 2
  docs/AGENT_DEPLOYMENT_GUIDE.md
  docs/LLM_JUDGMENTS_PIPELINE 2.md
  docs/PRIORITY_MATRIX 2.md
  docs/QUICK_REFERENCE 2.md
  fly 2.toml
  pyproject 2.toml
  scripts/clean-docs.sh
  scripts/validation/validate_deployment_readiness.py
  src/backend/EXTRACTION_PLAN 2.md
  src/ml/api/__init__ 2.py
  src/ml/api/api 2.py
  src/ml/api/load_signals 2.py
  src/ml/tests/legacy/test_enrichment 2.py
  src/ml/tests/legacy/test_fallback_labeling 2.py
  src/ml/tests/legacy/test_multi_game_embeddings 2.py
  src/ml/tests/test_roundtrip_properties.py
  src/ml/tests/test_streaming.py
  src/ml/tests/test_temporal_edge_cases.py
  src/ml/tests/test_temporal_integration.py
  src/ml/validation/validators/loader.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

refactor: remove agent-specific docs, focus on DeckSage priorities
  .cursorignore
  .pre-commit-config.yaml
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT_RULES.md
  src/ml/tests/test_temporal_integration.py
  src/ml/tests/test_temporal_metadata.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

fix: correct fly.toml dockerfile reference and update deployment docs
  fly.toml
  scripts/validation/validate_deployment_readiness.py
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

feat: configure deployment for private Tailscale network only
  docs/DEPLOYMENT.md
  fly.toml
  pyproject.toml
  src/ml/similarity/text_embeddings.py
  uv.lock
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

remove: delete all deployment configuration and files
  .github/workflows/deploy.yml
  Dockerfile.api
  docs/DEPLOYMENT.md
  fly.toml
  pyproject.toml
  scripts/validation/validate_deployment_readiness.py
  src/ml/similarity/text_embeddings.py
  uv.lock
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

remove: delete deployment validation hook from pre-commit config
  .pre-commit-config.yaml
Due: none

tidy: restore pyproject.toml and remove remaining deployment files
  .cursorignore
  Dockerfile 2
  docs/deploy/ALL_SERVICES_AVAILABLE.md
  docs/deploy/CACHE_STRATEGY.md
  docs/deploy/DNSSEC_STATUS.md
  docs/deploy/DNS_RECORDS.txt
  docs/deploy/DOCKER_OPTIMIZATION.md
  docs/deploy/Makefile
  docs/deploy/QUICK_START.md
  docs/deploy/README.md
  docs/deploy/START_SERVICES.md
  docs/deploy/aws-route53-setup.md
  docs/deploy/flyio-setup.md
  docs/deploy/flyio-setup.sh
  docs/deploy/local/config/redis.conf
  docs/deploy/local/docker-compose.yaml
  fly 2.toml
  pyproject.toml
  scripts/deploy_multitask_embeddings.sh
  scripts/validate_deployment.sh
Due: none

tidy: remove duplicate files and clean up remaining references
  .dockerignore
  docs/LLM_JUDGMENTS_PIPELINE 2.md
  docs/PRIORITY_MATRIX 2.md
  docs/QUICK_REFERENCE 2.md
  scripts/model_management/promote_to_production.sh
  src/backend/EXTRACTION_PLAN 2.md
  src/ml/__init__ 2.py
  src/ml/api/__init__ 2.py
  src/ml/api/api 2.py
  src/ml/api/load_signals 2.py
  src/ml/tests/legacy/test_enrichment 2.py
  src/ml/tests/legacy/test_fallback_labeling 2.py
  src/ml/tests/legacy/test_multi_game_embeddings 2.py
  test/test_search 2.html
Due: check-hardcoded-paths, check-todo, check-python-permissions, pytest-fast

tidy: remove remaining duplicate .dockerignore 2 file
  .dockerignore 2
  pyproject.toml
Due: none

fix: restore pyproject.toml (essential project file)
  pyproject.toml
Due: none

refactor: format validate_lineage.py and use PATHS utility
  scripts/data_processing/validate_lineage.py
Due: check-todo, check-python-permissions, pytest-fast

fix: restore experiments variable in validate_lineage
  scripts/data_processing/validate_lineage.py
Due: check-todo, check-python-permissions, pytest-fast

feat: complete GitHub repository setup
  .cursorignore
  .github/BRANCH_PROTECTION.md
  .github/CODEOWNERS
  .github/COMPLETE_SETUP.txt
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/REPOSITORY_METADATA.md
  .github/REPOSITORY_METADATA_FINAL.md
  .github/REPOSITORY_METADATA_REVISED.md
  .github/SECURITY.md
  .github/SUMMARY.txt
  .github/TOPICS.md
  .github/dependabot.yml
  .github/description
  .github/protect-branch.sh
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: none

feat: complete GitHub repository setup (#2)
  .cursorignore
  .github/CODEOWNERS
  .github/COMPLETE_SETUP.txt
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/REPOSITORY_METADATA.md
  .github/REPOSITORY_METADATA_FINAL.md
  .github/REPOSITORY_METADATA_REVISED.md
  .github/SECURITY.md
  .github/SUMMARY.txt
  .github/TOPICS.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: none

feat: complete GitHub repository setup (#2)
  .cursorignore
  .github/BRANCH_PROTECTION.md
  .github/CODEOWNERS
  .github/COMPLETE_SETUP.txt
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/REPOSITORY_METADATA.md
  .github/REPOSITORY_METADATA_FINAL.md
  .github/REPOSITORY_METADATA_REVISED.md
  .github/SECURITY.md
  .github/SUMMARY.txt
  .github/TOPICS.md
  .github/dependabot.yml
  .github/description
  .github/protect-branch.sh
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: none
